<h1 class="mypage"><%= current_user.name %>のマイページ</h1>
  <div class="pr">PR欄: <%= current_user.profire %></div>
  
<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
    </div>
  <% end %>
</div>